[user]
        name = Armando Almanza
        email = armando.s.almanza@gmail.com


[alias]
        l = log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%an%C(reset) %C(cyan)(%ae)%C(reset) - %C(green)%s%C(reset) %C(magenta)(%ar)%C(reset)'
        m = commit -m
        s = status
        aa = add .
        p = push
	pu = push -u origin main


[init]
        defaultBranch = main
